<div id="main" layout="row">
    <!-- <sidemenu menu="$ctrl.menu" config="$ctrl.configMenu" toolbar="$ctrl.configMenuToolbar" on-action="$ctrl.sideMenuAction(name, object)"
      class="md-whiteframe-4dp" style="z-index: 2"></sidemenu> -->
  <seront-simple-menu menu="$ctrl.menu" config="$ctrl.configMenu"></seront-simple-menu>
      <div layout="column" flex>
          <md-toolbar class="md-accent" layout="row" layout-align="start center">
        <seront-breadcrums names=$ctrl.names></seront-breadcrums>
          </md-toolbar>
        <md-content id="print-area" layout-padding style="height: 100%" ui-view>
  
        </md-content>
      </div>  
  </div>