<md-sidenav ng-class="$ctrl.config.class"
  md-whiteframe="4"
md-disable-scroll-target="{{$ctrl.config.disableScrollTarget}}"
md-is-open="$ctrl.config.isOpen"
  md-is-locked-open="{{$ctrl.config.isLockedOpen}}"
  md-component-id="{{$ctrl.config.componentId}}">

  <md-content layout-padding ng-class="$ctrl.config.contentStyle">
     <md-list>
      <md-list-item ng-repeat-start="item in $ctrl.menu" ng-click="$ctrl.action(item)">
        <md-icon>{{item.icon}}</md-icon>
        <span flex translate="{{item.name}}">
        </span>
      </md-list-item>
      <md-content ng-if="item.expanded" style="padding: 0px;">
        <md-divider></md-divider>
        <md-list ng-if="item.items" style="padding: 0px;">
          <!-- <md-list-item layout="row" ng-repeat="subitem in item.items" ui-sref="{{subitem.state}}"> -->
          <md-list-item layout="row" ng-repeat="subitem in item.items" ng-click="$ctrl.action(subitem)">
            <span flex="15">
        </span>
            <md-icon>{{subitem.icon}}</md-icon>
             <span flex="5">
        </span>
            <span flex translate="{{subitem.name}}">
        </span>
            <md-divider ng-hide="$last"></md-divider>
          </md-list-item>
        </md-list>
      </md-content>
      <md-divider ng-repeat-end ng-hide="$last"></md-divider>
    </md-list>


  </md-content>
</md-sidenav>
