<md-sidenav ng-class="$ctrl.config.class"
  md-whiteframe="4"
md-disable-scroll-target="{{$ctrl.config.disableScrollTarget}}"
md-is-open="$ctrl.config.isOpen"
  md-is-locked-open="{{$ctrl.config.isLockedOpen}}"
  md-component-id="{{$ctrl.config.componentId}}">
  <md-toolbar ng-if="$ctrl.toolbar" class="md-theme-light md-hue-1" layout="row" layout-align="center center" layout-padding>
    <!-- <span ng-class="$ctrl.toolbar.class" translate="{{$ctrl.toolbar.text}}">
    </span> -->
    <span ng-class="$ctrl.toolbar.class">
      {{$ctrl.toolbar.text}}
    </span>

    <md-menu ng-if="$ctrl.toolbar.menu">
      <md-button aria-label="config-menu" class="md-icon-button" ng-click="$mdMenu.open()">
        <md-icon md-menu-origin>{{$ctrl.toolbar.menu.icon}}</md-icon>
      </md-button>
      <md-menu-content width="4" ng-mouseleave="$mdMenu.close()">
        <md-menu-item ng-repeat="option in $ctrl.toolbar.menu.options track by $index">
          <md-button ng-class="$ctrl.toolbar.menu.style" ng-click="$ctrl.onAction({name: $ctrl.toolbar.menu.action, object: option})">
            {{option[$ctrl.toolbar.menu.display]}}
          </md-button>
        </md-menu-item>
    </md-menu>

  </md-toolbar>

    <md-input-container ng-if="$ctrl.config.mainSelect" flex>
      <label translate="{{$ctrl.config.mainSelect.label}}"></label>
    <md-select ng-model="$ctrl.config.mainSelect.current" ng-change="$ctrl.onAction({name: $ctrl.config.mainSelect.action, object: $ctrl.config.mainSelect.current})">
      <md-option ng-repeat="option in $ctrl.config.mainSelect.options" ng-value="user">{{option[$ctrl.config.mainSelect.display]}}</md-option>
    </md-select>
    </md-input-container>

    <accordion menu="$ctrl.menu"></accordion>

  </md-content>
</md-sidenav>
