<md-toolbar layout="row" layout-align="center center">Demo table 1</md-toolbar>
<div layout-padding>
  <md-whiteframe class="md-whiteframe-1dp" flex layout="column">
    <md-dytable config="$ctrl.config" pagination="$ctrl.pagination" object-config="$ctrl.objectConfig" headers="$ctrl.headers"
      objects="$ctrl.objects" actions="$ctrl.actions" on-paginate="$ctrl.onPaginate(page, limit, total)" on-action="$ctrl.accionTabla(name, object)"
      on-selection="$ctrl.onSelect" on-deselection="$ctrl.onDeselect"></md-dytable>
      <span>Selection: {{$ctrl.selection}}</span>
      <span>Action name: {{$ctrl.actionName}}</span>
      <span>Object: {{$ctrl.object|json}}</span>
      <span>Pagination: Page: {{$ctrl.pagination.page}}, Limit: {{$ctrl.pagination.limit}}</span>
  </md-whiteframe>
</div>

