<div layout="row" layout-align="start center">
  <div ng-repeat-start="step in $ctrl.steps">
    <md-button ng-if="!$last" ui-sref="{{step.state}}" style="text-transform: capitalize" ng-class="$ctrl.config.iconColor" aria-label="breadCrums">
      <md-icon ng-if="step.icon">
        {{step.icon}}
      </md-icon>
      <span>{{step.name|translate}}</span>
    </md-button>

    <md-button ng-if="$last" ui-sref="{{step.state}}" style="text-transform: capitalize" ng-class="$ctrl.config.iconColorLast" aria-label="breadCrums">
      <md-icon ng-if="step.icon">
        {{step.icon}}
      </md-icon>
      <span>{{step.name|translate}}</span>
    </md-button>
  </div>
  <span ng-repeat-end ng-if="!$last">/</span>
</div>
